<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <style>
        body{
            background-color:gainsboro;
        }
        .navbar {
            background-color: darkgreen;
        }

        .footer {
            position: fixed;
            bottom: -2%;
        }

        .welcome {
            font-size: 500%;
            border-style: groove;
            border-width: 2px;
            border-bottom-color: forestgreen;
            text-align: center;
        }

        .top {
            color: darkgrey;
            position: absolute;
            padding: 10px;
            left: 80px;
            top: 45px;
        }

        .list-Of-ORCA {
            position: absolute;
            display: inline;
            left: 80px;
        }
    </style>

</head>
<body>
    <div style="width:100%;">
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*  @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>*@


                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="top lists">
        <a href="http://www.marshall.edu/home/index.html">
            <img src="http://www.marshall.edu/home/img/main/mu_logo_blk.png" width="150" height="80" />
        </a>
    </div>

    <div class="welcome">
        MARCOS
    </div>
    @* if the register works experts  can display here
    *@
    

    @* list of staff*@
    <div class="list-Of-ORCA">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Experts", "ListOfExperts", "AspNetUsers")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("Forum", "Create", "POSTs")</li>

        </ul>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="footer">&copy; @DateTime.Now.Year - MARCOS</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
