@model MUE.Models.PROJECT

@{
    ViewBag.Title = "Details";
}

<br />
<br />
<h2>Details</h2>

<div>
    <h4>PROJECT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COMPLETED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPLETED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATCOMPLETED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATCOMPLETED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STARTDATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STARTDATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
