@model IEnumerable<MUE.Models.PROJECT>

@{
    ViewBag.Title = "Index";
}


<br />
<br />
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <p>Completed</p>
            @*@Html.DisplayNameFor(model => model.COMPLETED)*@
        </th>
        <th>
            <p>Date Completed</p>
            @*@Html.DisplayNameFor(model => model.DATCOMPLETED)*@
        </th>
        <th>
            <p>Title</p>
            @*@Html.DisplayNameFor(model => model.TITLE)*@
        </th>
        <th>
            <p>Start Date</p>
            @*@Html.DisplayNameFor(model => model.STARTDATE)*@
        </th>
        <th>
            <p>Description</p>
            @*@Html.DisplayNameFor(model => model.DESCRIPTION)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.COMPLETED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATCOMPLETED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TITLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STARTDATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPTION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) 
            @Html.ActionLink("Details", "Details", new { id=item.ID }) 
            @*@Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
        </td>
    </tr>
}

</table>
