@model IEnumerable<MUE.Models.POST>

@{
    ViewBag.Title = "Index";
}

<h2>Discussion Forum </h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<style>
    .right {
        position: absolute;
        right: 100px;
        top: 150px;
    }
</style>

<div class="right">
    @using (Html.BeginForm("Index", "POSTs", FormMethod.Get))
    {
        <b>Search By: Subject </b>  <br />
        @Html.TextBox("search")<input type="submit" value="Search" />
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATETIMEPOSTED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBJECT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TITLE)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUser.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATETIMEPOSTED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TITLE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUBJECT)
        </td>
       
       
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })|
            @Html.ActionLink("Replay", "Create")*@


        </td>
    </tr>
}

</table>
