@model MUE.Models.POST

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>POST</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUBJECT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUBJECT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TITLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATETIMEPOSTED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATETIMEPOSTED)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
