@using Microsoft.AspNet.Identity
@*@model MUE.Models.IndexViewModel*@
@using MUE.Models
@{
    //IdentitySample.Controllers.ManageController p = new IdentitySample.Controllers.ManageController();
    var manager = new UserManager<ApplicationUser>(new Microsoft.AspNet.Identity.EntityFramework.UserStore<ApplicationUser>(new ApplicationDbContext()));
    var currentUser = manager.FindById(User.Identity.GetUserId());

    ViewBag.Title = "Manage your account";

}


<<h2>@ViewBag.Title.</h2>
<p class="text-success" @ViewBag.StatusMessage</p>
<div class="row"
     @*<div class="col-md-8">
            <em>To edit your account</em>
            @Html.ActionLink("Click Here", "Edit", routeValues: null, htmlAttributes: new { id = "editAccountLink" })
        </div>
        <div class="col-md-8">*@
    <p>
        <b>Email: @Html.Raw(currentUser.Email)</b>
    </p>
    <p>
        <b>First Name: @Html.Raw(currentUser.FirstName)</b>
    </p>
    <p>
        <b>Last Name: @Html.Raw(currentUser.LastName)</b>
    </p>
    <p>
       <b> Phone Number: @Html.Raw(currentUser.PhoneNumber)</b>
    </p>
    @if (User.IsInRole("Expert"))
    {
    <p>
        <b>Categories: </b>
    </p>
    <p>
        <b>Specialties: </b>
    </p>
        <p>
    <em>To add a category</em> @Html.ActionLink("Click Here", "AddCategory", routeValues: null, htmlAttributes: new { id = "addACategoryLink" })
    </p>
    <p>
    <em> To add a specialty</em> @Html.ActionLink("Click Here", "AddSpecialty", routeValues: null, htmlAttributes: new { id = "addASpecialtyLink" })
   </p>

    }


    [
    @if (Model.HasPassword)
    {
        @Html.ActionLink("Change your password", "ChangePassword")
    }
    else
    {
        @Html.ActionLink("Create", "SetPassword")
    }
    ]


    @*<dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>*@


    <p>



</div>
    </div>
