
@{
    ViewBag.Title = "ViewSpecialties";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2>Your Specialties</h2>

<ul>
    @foreach (var specialty in Model)
    {
        <li>
            <b>Specialty: </b>@specialty.NAME
            <b>Description: </b>@specialty.DESCRIPTION
            @Html.ActionLink("Delete", "DeleteSpecialty", new { ID = specialty.ID})
        </li>
    }
</ul>

<div class="form-group">
    @Html.ActionLink("Back To List", "Index") | @Html.ActionLink("Add Another Specialty", "AddSpecialty") 
</div>
